.contact {
    margin-top: 200px;
    align-items: center;
    text-align: center;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}


.message {
    display: inline-block;
    width: 100%;
    padding: 10px 5px;
    margin-bottom: -0.625rem;
}

.msg-content {
    height: 150px;
    width: 300px
}

.user {
    display: inline-block;
    width: 300px;
    margin-bottom: 5px;

}

.span {
    display: block;
    font-weight: 600;
    color: rgb(255, 130, 92);
}